In [1]:
import pandas as pd

demo = pd.read_csv("E:/Kaggle_Practice/LotteMembers/LPOINT_BIG_COMP_01_DEMO.csv")
pdde = pd.read_csv("E:/Kaggle_Practice/LotteMembers/LPOINT_BIG_COMP_02_PDDE.csv")
copu = pd.read_csv("E:/Kaggle_Practice/LotteMembers/LPOINT_BIG_COMP_03_COP_U.csv")
pdclac = pd.read_csv("E:/Kaggle_Practice/LotteMembers/LPOINT_BIG_COMP_04_PD_CLAC.csv")
br = pd.read_csv("E:/Kaggle_Practice/LotteMembers/LPOINT_BIG_COMP_05_BR.csv")
lpay = pd.read_csv("E:/Kaggle_Practice/LotteMembers/LPOINT_BIG_COMP_06_LPAY.csv")

C:\Users\katenam\AppData\Local\Temp\ipykernel_17932\3081077247.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  pdde = pd.read_csv("E:/Kaggle_Practice/LotteMembers/LPOINT_BIG_COMP_02_PDDE.csv")

In [6]:
cust5 = copu['cust'].value_counts().head(5).index
cust5

Index(['M223630342', 'M295053802', 'M724456397', 'M710368459', 'M678207187'], dtype='object')

In [14]:
import warnings
warnings.filterwarnings('ignore')

cust_05 =[]
for i in cust5:
    c = [pdde[pdde['cust'] == i]]
    cust_05.append(c)
    
cust_05

[[               cust        rct_no  chnl_dv cop_c     br_c    pd_c     de_dt  \
  3218930  M223630342  A03059323301        1   A03  A030091  PD0147  20210222
  3218931  M223630342  A03059323301        1   A03  A030091  PD1417  20210222
  3218932  M223630342  A03059323301        1   A03  A030091  PD1417  20210222
  3240918  M223630342  A03059330851        1   A03  A030091  PD1417  20210303
  3249681  M223630342  A03089380402        1   A03  A030161  PD0325  20210306
  ...             ...           ...      ...   ...      ...     ...       ...
  4264696  M223630342  A04115511832        1   A04  A040303  PD0397  20211123
  4265564  M223630342  A04115906130        1   A04  A040303  PD0397  20211124
  4265565  M223630342  A04115906130        1   A04  A040303  PD0397  20211124
  4287707  M223630342  A04125106351        1   A04  A040303  PD0397  20211220
  4287708  M223630342  A04125106351        1   A04  A040303  PD0397  20211220

           de_hr  buy_am  buy_ct
  3218930     21  8790.0       1
  3218931     21  1390.0       1
  3218932     21  1290.0       1
  3240918     21  1290.0       1
  3249681     13  3790.0       1
  ...        ...     ...     ...
  4264696     12  3900.0       1
  4265564     18  7800.0       2
  4265565     18  3900.0       1
  4287707     12  3900.0       1
  4287708     12  3900.0       1

  [63 rows x 10 columns]],
 [               cust        rct_no  chnl_dv cop_c     br_c    pd_c     de_dt  \
  271268   M295053802  A01193321480        1   A01  A010033  PD0290  20210523
  3985990  M295053802  A04001902411        1   A04  A041244  PD0383  20210109
  4004094  M295053802  A04009088506        1   A04  A041244  PD0380  20210206
  4004095  M295053802  A04009088506        1   A04  A041244  PD0381  20210206
  4080424  M295053802  A04040554081        1   A04  A040081  PD1245  20210521
  ...             ...           ...      ...   ...      ...     ...       ...
  4286173  M295053802  A04124496924        1   A04  A041255  PD0239  20211218
  4296225  M295053802  A04128607983        1   A04  A041244  PD0354  20211230
  4296226  M295053802  A04128607983        1   A04  A041244  PD0282  20211230
  4296227  M295053802  A04128607983        1   A04  A041244  PD1248  20211230
  4296228  M295053802  A04128607983        1   A04  A041244  PD0354  20211230

           de_hr   buy_am  buy_ct
  271268      14  63000.0       1
  3985990     22   8500.0       1
  4004094     20   4500.0       1
  4004095     20   5000.0       1
  4080424     14   4500.0       1
  ...        ...      ...     ...
  4286173     15   2500.0       1
  4296225      3   4000.0       2
  4296226      3     50.0       1
  4296227      3   1900.0       1
  4296228      3   2000.0       1

  [154 rows x 10 columns]],
 [               cust        rct_no  chnl_dv cop_c     br_c    pd_c     de_dt  \
  2598586  M724456397  A02105869508        1   A02  A020023  PD0612  20211001
  2598587  M724456397  A02105869508        1   A02  A020023  PD0409  20211001
  2598588  M724456397  A02105869508        1   A02  A020023  PD0409  20211001
  2598589  M724456397  A02105869508        1   A02  A020023  PD0409  20211001
  2598590  M724456397  A02105869508        1   A02  A020023  PD0409  20211001
  ...             ...           ...      ...   ...      ...     ...       ...
  4257899  M724456397  A04112611457        1   A04  A043154  PD1245  20211115
  4257900  M724456397  A04112611457        1   A04  A043154  PD1245  20211115
  4257901  M724456397  A04112611457        1   A04  A043154  PD1245  20211115
  4257902  M724456397  A04112611457        1   A04  A043154  PD0529  20211115
  4257903  M724456397  A04112611457        1   A04  A043154  PD0370  20211115

           de_hr   buy_am  buy_ct
  2598586     11  15000.0      10
  2598587     11   3280.0       1
  2598588     11   3280.0       1
  2598589     11   3280.0       1
  2598590     11   3280.0       1
  ...        ...      ...     ...
  4257899     11   3949.0       1
  4257900     11   4900.0       1
  4257901     11   3510.0       1
  4257902     11   1300.0       1
  4257903     11   7841.0       6

  [317 rows x 10 columns]],
 [               cust        rct_no  chnl_dv cop_c     br_c    pd_c     de_dt  \
  74031    M710368459  A01052590644        1   A01  A010026  PD0956  20210215
  74452    M710368459  A01052899119        1   A01  A010045  PD1022  20210216
  74462    M710368459  A01052906922        1   A01  A010045  PD1689  20210216
  77164    M710368459  A01054866379        1   A01  A010026  PD1693  20210218
  327146   M710368459  A01233209059        1   A01  A010026  PD0956  20210620
  388525   M710368459  A01277141767        1   A01  A010026  PD0298  20210723
  388526   M710368459  A01277141767        1   A01  A010026  PD0298  20210723
  451909   M710368459  A01322554177        1   A01  A010024  PD1827  20210828
  566571   M710368459  A01405402742        1   A01  A010024  PD1827  20211024
  566914   M710368459  A01405652520        1   A01  A010024  PD0777  20211024
  572073   M710368459  A01409314296        1   A01  A010026  PD0956  20211026
  572080   M710368459  A01409321136        1   A01  A010026  PD0298  20211026
  572081   M710368459  A01409321136        1   A01  A010026  PD0298  20211026
  686287   M710368459  A01492634511        1   A01  A010026  PD0956  20211225
  686443   M710368459  A01492749062        1   A01  A010026  PD1340  20211225
  1082181  M710368459  A02305104024        1   A02  A020096  PD1536  20210217
  1082182  M710368459  A02305104024        1   A02  A020096  PD1417  20210217
  1082183  M710368459  A02305104024        1   A02  A020096  PD1484  20210217
  1082184  M710368459  A02305104024        1   A02  A020096  PD1396  20210217
  1082185  M710368459  A02305104024        1   A02  A020096  PD1288  20210217
  1082186  M710368459  A02305104024        1   A02  A020096  PD0401  20210217
  1082187  M710368459  A02305104024        1   A02  A020096  PD0230  20210217
  1082188  M710368459  A02305104024        1   A02  A020096  PD0379  20210217
  1082189  M710368459  A02305104024        1   A02  A020096  PD0219  20210217
  1082190  M710368459  A02305104024        1   A02  A020096  PD0404  20210217
  1082191  M710368459  A02305104024        1   A02  A020096  PD1306  20210217
  1247201  M710368459  A02305481352        1   A02  A020096  PD0349  20210310
  1247202  M710368459  A02305481352        1   A02  A020096  PD0367  20210310
  1247203  M710368459  A02305481352        1   A02  A020096  PD0351  20210310
  2015703  M710368459  A02307601536        1   A02  A020096  PD1484  20210628
  2015704  M710368459  A02307601536        1   A02  A020096  PD1037  20210628
  2126807  M710368459  A02307954038        1   A02  A020096  PD1290  20210716
  2126808  M710368459  A02307954038        1   A02  A020096  PD1394  20210716
  2126809  M710368459  A02307954038        1   A02  A020096  PD1484  20210716
  2126810  M710368459  A02307954038        1   A02  A020096  PD0388  20210716
  2126811  M710368459  A02307954038        1   A02  A020096  PD1417  20210716
  2126812  M710368459  A02307954038        1   A02  A020096  PD0681  20210716
  2126813  M710368459  A02307954038        1   A02  A020096  PD1417  20210716
  2126814  M710368459  A02307954038        1   A02  A020096  PD1325  20210716
  2126815  M710368459  A02307954038        1   A02  A020096  PD1290  20210716
  2700779  M710368459  A02309870622        1   A02  A020096  PD0404  20211019
  2700780  M710368459  A02309870622        1   A02  A020096  PD1549  20211019
  2700781  M710368459  A02309870622        1   A02  A020096  PD0403  20211019

           de_hr    buy_am  buy_ct
  74031       20   20000.0       1
  74452       13    4900.0       1
  74462       13    4000.0       1
  77164       14   18100.0       1
  327146      16   47000.0       1
  388525      11   19900.0       1
  388526      11     100.0       1
  451909      16  224000.0       1
  566571      13  498000.0       1
  566914      14   38500.0       1
  572073      19   19000.0       1
  572080      20   39900.0       1
  572081      20     100.0       1
  686287      13   95000.0       1
  686443      14   25000.0       1
  1082181     17    9980.0       1
  1082182     17    2980.0       1
  1082183     17     850.0       1
  1082184     17     990.0       1
  1082185     17    3360.0       1
  1082186     17    4980.0       1
  1082187     17    2380.0       1
  1082188     17    4580.0       1
  1082189     17    1180.0       1
  1082190     17    3800.0       1
  1082191     17    1980.0       1
  1247201     17    5450.0       1
  1247202     17    6480.0       1
  1247203     17    7960.0       2
  2015703     16     850.0       1
  2015704     16   24800.0       1
  2126807     13    4450.0       1
  2126808     13    2280.0       1
  2126809     13     850.0       1
  2126810     13    3480.0       1
  2126811     13    1380.0       1
  2126812     13    6600.0      10
  2126813     13    2980.0       1
  2126814     13    4990.0       1
  2126815     13    3980.0       1
  2700779     17    4480.0       1
  2700780     17   10000.0       1
  2700781     17    1920.0       1  ],
 [               cust        rct_no  chnl_dv cop_c     br_c    pd_c     de_dt  \
  129235   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
  129236   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
  129237   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
  129238   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
  129239   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
  ...             ...           ...      ...   ...      ...     ...       ...
  2544776  M678207187  A02341666713        1   A02  A020109  PD0223  20210919
  2544777  M678207187  A02341666713        1   A02  A020109  PD1330  20210919
  2544778  M678207187  A02341666713        1   A02  A020109  PD1164  20210919
  2544779  M678207187  A02341666713        1   A02  A020109  PD1164  20210919
  2544780  M678207187  A02341666713        1   A02  A020109  PD1484  20210919

           de_hr   buy_am  buy_ct
  129235      14   9900.0       1
  129236      14   9900.0       1
  129237      14   9900.0       1
  129238      14   9900.0       1
  129239      14  29900.0       1
  ...        ...      ...     ...
  2544776     17   5940.0       3
  2544777     17   9900.0       1
  2544778     17   1180.0       1
  2544779     17   2360.0       2
  2544780     17    560.0       2

  [200 rows x 10 columns]]]

In [26]:

for i in cust5:
    z = pdde.loc[pdde['cust'] == i, :]
    z.to_csv("test.csv")

In [27]:
z = pd.read_csv("test.csv")
z

,Unnamed: 0,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct
0,129235,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,9900.0,1
1,129236,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,9900.0,1
2,129237,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,9900.0,1
3,129238,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,9900.0,1
4,129239,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,29900.0,1
...,...,...,...,...,...,...,...,...,...,...,...
195,2544776,M678207187,A02341666713,1,A02,A020109,PD0223,20210919,17,5940.0,3
196,2544777,M678207187,A02341666713,1,A02,A020109,PD1330,20210919,17,9900.0,1
197,2544778,M678207187,A02341666713,1,A02,A020109,PD1164,20210919,17,1180.0,1
198,2544779,M678207187,A02341666713,1,A02,A020109,PD1164,20210919,17,2360.0,2
199,2544780,M678207187,A02341666713,1,A02,A020109,PD1484,20210919,17,560.0,2

In [25]:
df = pd.read_pickle("df.pkl")
df

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct
129235,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,9900.0,1
129236,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,9900.0,1
129237,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,9900.0,1
129238,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,9900.0,1
129239,M678207187,A01092451616,1,A01,A010003,PD1116,20210315,14,29900.0,1
...,...,...,...,...,...,...,...,...,...,...
2544776,M678207187,A02341666713,1,A02,A020109,PD0223,20210919,17,5940.0,3
2544777,M678207187,A02341666713,1,A02,A020109,PD1330,20210919,17,9900.0,1
2544778,M678207187,A02341666713,1,A02,A020109,PD1164,20210919,17,1180.0,1
2544779,M678207187,A02341666713,1,A02,A020109,PD1164,20210919,17,2360.0,2
2544780,M678207187,A02341666713,1,A02,A020109,PD1484,20210919,17,560.0,2

In [22]:
z.columns

Index(['cust', 'rct_no', 'chnl_dv', 'cop_c', 'br_c', 'pd_c', 'de_dt', 'de_hr',
       'buy_am', 'buy_ct'],
      dtype='object')

In [12]:
c

[               cust        rct_no  chnl_dv cop_c     br_c    pd_c     de_dt  \
 129235   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
 129236   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
 129237   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
 129238   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
 129239   M678207187  A01092451616        1   A01  A010003  PD1116  20210315
 ...             ...           ...      ...   ...      ...     ...       ...
 2544776  M678207187  A02341666713        1   A02  A020109  PD0223  20210919
 2544777  M678207187  A02341666713        1   A02  A020109  PD1330  20210919
 2544778  M678207187  A02341666713        1   A02  A020109  PD1164  20210919
 2544779  M678207187  A02341666713        1   A02  A020109  PD1164  20210919
 2544780  M678207187  A02341666713        1   A02  A020109  PD1484  20210919

          de_hr   buy_am  buy_ct
 129235      14   9900.0       1
 129236      14   9900.0       1
 129237      14   9900.0       1
 129238      14   9900.0       1
 129239      14  29900.0       1
 ...        ...      ...     ...
 2544776     17   5940.0       3
 2544777     17   9900.0       1
 2544778     17   1180.0       1
 2544779     17   2360.0       2
 2544780     17    560.0       2

 [200 rows x 10 columns]]